<p-toast position="bottom-right"></p-toast>
<!-- <p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<div class="card">
  <button
    type="button"
    pButton
    pRipple
    (click)="ddSingle()"
    label="Success"
    class="p-button-success"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    (click)="ddSingle()"
    label="Info"
    class="p-button-info"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    (click)="ddSingle()"
    label="Warn"
    class="p-button-warning"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    (click)="ddSingle()"
    label="Error"
    class="p-button-danger"
  ></button>

  <h5>Positions</h5>
  <button
    type="button"
    pButton
    pRipple
    (click)="showTopLeft()"
    label="Top Left"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    (click)="showTopCenter()"
    label="Top Center"
    class="p-button-warning"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    (click)="showBottomCenter()"
    label="Bottom Center"
    class="p-button-success"
  ></button>
</div> -->
