<!-- <p-table [value]="members$ | async">
  <ng-template pTemplate="header">
    <tr>
      <th>userName</th>
      <th>age</th>
      <th>knownAs</th>
      <th>gender</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-member>
    <tr>
      <td>{{ member.userName }}</td>
      <td>{{ member.age }}</td>
      <td>{{ member.knownAs }}</td>
      <td>{{ member.gender }}</td>
      <td>
        <button
          pButton
          type="button"
          label="GO"
          [routerLink]="[member.userName]"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table> -->

<div class="p-grid">
  <div *ngFor="let member of members$ | async" class="p-col-3">
    <app-member-card [member]="member"></app-member-card>
    <button
      pButton
      type="button"
      [label]="member.userName || member.username"
      [routerLink]="[member.userName]"
    ></button>
  </div>
</div>
